:root{
--accent1-color: #212121;
--accent2-color: #FFFFFF;
--accent3-color: #2196F3;
--accent4-color: #757575;
}
body {
    font-family: 'Roboto';
    color: #212121;
    background-color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0.03em;
}
body a{text-decoration: none;}
body a:visited{color: black;}
body ul{list-style: none;}
.main p {color: var(--accent4-color);}
.main h2{font-size: 36px;line-height:calc(42/36);}
.logo{font-family: 'Raleway'; font-size: 26px;line-height: calc(31/26);}
.link:focus{line-height: calc(16/14);}
.link:hover,.link:focus{color: var(--accent3-color);}
.auth-link {
    color: var(--accent4-color);
    line-height: calc(16/14);
}
.banner{background: #2F303A;}
.banner h1{
    font-size: 44px;
        color: var(--accent2-color);
        line-height: calc(60/44);
}
.banner .button {
    font-size: 16px;
    background-color: var(--accent3-color);
    color: var(--accent2-color);
    line-height: calc(30/16);
}
.button{cursor: pointer;}
.page-nav .button:hover,.page-nav .button:focus{background-color:var(--accent3-color);color: var(--accent2-color);}
.page-nav {line-height: calc(26/16);}
.function h3{line-height: calc(16/14);}
.function p{line-height: calc(24/14);}
.comands{background-color: #F5F4FA; font-size: 16px;line-height: calc(19/16);}
.footer{background-color: #2F303A;}
.footer a[target]{color: var(--accent2-color);}
.footer address{line-height: calc(24/14);}
.footer .logo{color: var(--accent2-color);}
.portfolio-list li{border: 1px solid #EEEEEE;}
.span
{
    color: var(--accent3-color);
}
body .section-portfolio {
    font-size: 16px;
}
.section-portfolio h2{font-size: 18px; line-height: calc(36/18);}

