body {
    font-family: Roboto;
}
p {color: #757575;}
ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
    color: #212121;
}

a {
    text-decoration: none;
    color: black;
}
.header .link:hover, .header .link:focus{color: #2196F3;}
.banner{background: #2F303A;}
.banner h1{
        color: #FFFFFF;
}
.button{background-color: #2196F3;color: white;}
.comands{background-color: #F5F4FA;}
footer{background-color: #2F303A;}
