:root{
--accent1-color: #212121;
--accent2-color: #FFFFFF;
--accent3-color: #2196F3;
--accent4-color: #757575;
}
body {
    font-family: 'Roboto';
    color: var(--accent1-color);   
    background-color: var(--accent2-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}
.list{list-style: none;}
.link{text-decoration: none;}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.button {
    cursor: pointer;
    border: none;
}
.paragraph{color: var(--accent4-color);}
.link:focus{line-height: calc(16/14);}
.link:hover,.link:focus{color: var(--accent3-color);}
.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: calc(31/26);
}
.nav-link {
    font-weight: 500;
    line-height: calc(16/14);
}
.header .contact-link {
    font-weight: 500;
}
.contact-link {
    color: var(--accent4-color);
    line-height: calc(16/14);
}
.banner{background: #2F303A;}
.banner-tittle{
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
        color: var(--accent2-color);
        line-height: calc(60/44);
}
.banner .button {
    font-size: 16px;
    background-color: var(--accent3-color);
    color: var(--accent2-color);
    line-height: calc(30/16);
    font-weight: 700;
}
.function-tittle{line-height: calc(16/14);text-transform: uppercase;font-weight: 700;}
.function .paragraph{line-height: calc(24/14);}
.about-work-tittle{font-weight: 700;font-size: 36px;line-height: calc(42/36);text-align: center;}
.comands{background: #F5F4FA;}
.comands-tittle{font-weight: 700;font-size: 36px;line-height: calc(42/36);}  
.commands-list-tittle{font-size: 16px;font-weight: 500;line-height: calc(19/16);text-align: center;}
.comands-work{font-size: 16px;line-height: calc(19/16);text-align: center;}
.footer{background-color: #2F303A;}
.address-link{line-height: calc(24/14);color: var(--accent2-color)}
.footer .logo{color: var(--accent2-color);font-weight: 700;}
.address{font-style: normal;}
.span
{
    color: var(--accent3-color);
}
.page-nav .button:hover,
.page-nav .button:focus {
    background-color: var(--accent3-color);
    color: var(--accent2-color);
}
.page-nav {
    line-height: calc(26/16);
    font-size: 16px;
    font-weight: 500;
}
.portfolio-list-tittle{font-size: 18px; line-height: calc(36/18);font-weight: 700;}
.portfolio-list .paragraph{font-size: 16px;line-height: calc(30/16);}

